.faculty {
  position: relative;
}

.facultyList {
  background-color: aqua;
  position: relative;
  top: 80px;
}
.teachersContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.4s;
  padding: 0px 40px;
}
.notTeacher {
  position: absolute;
  top: 0px;
  left: -100%;
  transition: all 0.5s;
}
.staffsContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.5s;
  padding: 0px 40px;
}
.notStaff {
  position: absolute;
  top: 0px;
  left: 100%;
  transition: all 0.5s;
}

.facultyHeading {
  display: block;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 175px;
  min-width: 100vw;
  z-index: 22;
}
.heading {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0%);
}
.heading > * {
  height: 35px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.heading span {
  cursor: pointer;
}
.heading div:first-child {
  justify-content: flex-end;
  border-right: 4px solid black;
}

.empasisStyle {
  font-size: 25px;
  font-weight: bold;
  backface-visibility: hidden;
  transition: all 0.3s;
}
