.navContainer {
    height: 50px;
    width: 100vw;
    background-color: var(--main-color);
    position: fixed;
    top:0px;
    left:0px;
    z-index: 99999;
    
    
}


/* meechanical logo */

.MEEcontainer {
    position: fixed;
    width: 200px;
    height: 58px;
    top: 9px;
    left: 7px;
    transition: all 1s;
    z-index: 999999;
}

.MEE {
    clip-path: polygon(0 0, 200px 0, 150px 102%, 0 100%);
    background-color: var(--logo-color);
    font-weight: bold;
    border-radius: 5px 2px 3px 5px;
    padding: 10px;
    position: relative;
    top: 12px;
    left: 12px;
    color: #111;
}

.MEE .mecha {
    font-size: 22px;
}

.MEE .eng {
    font-size: 14px;
}

nav{

}
nav ul {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-30%, -50%);
    list-style: none;
}

nav li {
    display: inline-block;
}

nav li a {
    font-weight: bold;
    padding: 10px;
    transition: all .4s;
    border-bottom: 0px solid var(--secondary-color);
    position: relative;
    z-index: 999;
}

nav li a:hover {
    color: var(--secondary-color) !important;
}

nav li a::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0%;
    height: 3px;
    background-color: var(--secondary-color);
    transition: width .4s;
}

nav li a:hover::after {
    width: 100%;
}

@media(max-width:650px) {
    nav ul {
        top: 280px;
        right: 00px;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        padding: 10px 0px;
        font-size: 20px;
    }
    .transformMobileMenuList {
        right: -500px;
        transition: all .5s;
    }
    .mobileNavIcon {
        position: absolute;
        height: 70px;
        width: 10px;
        right: 0px;
        top: 50%;
        animation: moveRightToLeft .4s ;
    }
    @keyframes moveRightToLeft {
        0%{
            transform: translateX(100px);
        }
        100%{
            transform: translateX(0px);
        }
    }
    .transformLogo {
        top: 80vh;
    }
    .bottomCircle {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: fixed;
        background-color: var(--main-color);
        bottom: -150px;
        left: -100px;
        box-shadow: 10px -3px 0px 0px #0d7377;
        transition: all 1s;

        z-index: 99999;
    }
    .bigBottomCircle {
        height: 350px;
        width: 350px;

    }
    .line {
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
    }
    .line div {
        width: 35px;
        height: 6px;
        background-color: black;
        margin: 5px;
        border-radius: 10px;
        transition: all .4s;
    }
    .lineTransform .line1 {
        transform: translate(0%, 200%) rotate(-45deg);
        top: 50%
    }
    .lineTransform .line2 {
        opacity: 0;
    }
    .lineTransform .line3 {
        transform: translate(0%, -150%) rotate(45deg);
    }
    .smallBackgroundCircle {
        height: 70px;
        width: 70px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -10px;
        transform: translate(-50%, 0%);
    }
    .leftRoundedShape {
        height: 70px;
        width: 70px;
        background-color: #fff;
        position: absolute;
        right: 98%;
        top: -49%;
    }
    .leftRoundedShape::after {
        content: "";
        height: 100%;
        width: 100%;
        background-color: var(--main-color);
        border-radius: 0% 0% 26% 0% / 0% 0% 19% 0%;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .rightRoundedShap {
        height: 70px;
        width: 57px;
        background-color: #fff;
        position: absolute;
        right: -78%;
        top: -49%;
    }
    .rightRoundedShap::after {
        content: "";
        height: 100%;
        width: 100%;
        background-color: var(--main-color);
        border-radius: 0% 0% 0% 19% / 0% 0% 0% 26%;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .smallCircle {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: var(--main-color);
        position: absolute;
        transform: translate(50%, 0%);
        right: 50%;
        top: 10px;
        box-shadow: 0px 4px 0px var(--main-color-dark);
        transition: all .6s;
    }
    .circle {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: var(--main-color);
        position: fixed;
        right: 25px;
        top: 0px;
        /* box-shadow: 0px 24px 0px #0d7377; */
        z-index: -1;
        transition: all .5s;
    }
    .bigCircle {
        height: 800px;
        width: 800px;
        border-radius: 50%;
        background-color: var(--main-color);
        position: fixed;
        right: -500px;
        top: -323px;
        box-shadow: 0px 24px 0px var(--main-color-dark);
        transition: all .5s;
    }
}