.listBody{
   display: flex;
   flex-wrap:nowrap;
   justify-content: center;
   align-items: center;
   padding: 10px;
   /* min-width: 400px; */
   margin-bottom: 15px;
   border-radius: 10px;
   box-shadow: 0px 0px 9px -5px;
}
.listBody:hover .profilePic img{
   transform: scale(1.1);
}
.profilePic{
   width: 100px;
   height: 100px;
}
.profilePic img{
   border-radius: 50%;
   transition:all .4s;
}

.description{
   margin-left: 20px;
}
.name{
   font-weight: bold;
   font-size: 25px;
}
