:root {
    --main-color: cyan;
    --main-color-dark: #0D7377;
    --secondary-color: orange;
    --logo-color: rgb(207, 76, 76);
    --gray-color:rgba(181, 181, 181, 0.27);

    --shadow: 0px 0px 9px -5px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen';
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    color: black !important;
}
img{
    width:100%;
    height: 100%;
}
.page{
    margin-top: 120px;
}
@media(max-width:650px){
    .page{
        margin-top: 120px;
    }
}